// Color
$c-light-green: #16c098;
$c-light-grey: #fafbff;
$c-light-red: #ffc5c5;
$c-platinum: #757575;
$c-purple: #5932ea;
$c-c-grey: #9197b3;
$c-silver: #eeeeee;
$c-white: #ffffff;
$c-black: #000000;
$c-green: #00b087;
$c-grey: #b5b7c0;
$c-red: #df0404;

// Font size
$fs-base: 14;

// Font familly
$ff-base: "Poppins", sans-serif;

// * Bezier
$b-normal: cubic-bezier(0.4, 0, 0.2, 1);

// * Transition
$t-normal: 0.35s $b-normal;
