mixin button(args={})
  - const type = args.type || 'button'
  - let classes = args.classes 
  - args.small ? classes += ' button--small ' : null 
  - args.white ? classes += ' button--white ' : null 
  
  button.button(type=type class=classes)
    if args.icon 
      img(src=args.icon  alt="icon").button__icon
    else
      if args.text  
        span=args.text
      else
        span(style="color:red;") Default
  