.logo {
  align-items: center;
  margin-bottom: 64px;
  display: flex;

  @include media("<=desktop") {
    margin-bottom: 25px;
  }

  &__icon {
    font-size: em(30);
    margin-right: 8px;
  }

  &__subtext {
    letter-spacing: -0.01em;
    font-size: em(10);
    line-height: 15px;
    font-weight: 500;
    color: $c-c-grey;
    margin-left: 4px;
  }
}
