.customers {
  padding: 30px 44px 41px 40px;
  background-color: $c-white;
  letter-spacing: -0.01em;
  margin-bottom: 258px;
  border-radius: 30px;

  @include media("<=custom-1200") {
    padding: 30px 22px 41px 20px;
  }

  @include media("<=tablet") {
    padding: 30px 11px 41px 10px;
    margin-bottom: 158px;
  }

  @include media("<=desktop") {
    margin-bottom: 70px;
    font-size: em(12);
  }

  &__head {
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    display: flex;
  }

  &__text {
    flex-direction: column;
    display: flex;
  }

  &__title {
    font-size: em(22);
    line-height: 33px;
    font-weight: 600;

    @include media("<=phone") {
      font-size: em(14);
    }
  }

  &__subtext {
    color: $c-light-green;
    line-height: 21px;
    font-weight: 400;

    @include media("<=phone") {
      font-size: em(10);
    }
  }

  &__search {
    position: relative;
  }

  &__icon {
    top: calc(50% - 11px);
    position: absolute;
    color: $c-platinum;
    font-size: em(22);
    left: 11px;

    @include media("<=phone") {
      top: calc(50% - 7px);
      font-size: em(14);
      left: 5px;
    }
  }

  &__input {
    border: 1px solid transparent;
    transition: border $t-normal;
    background: $c-light-grey;
    border-radius: 10px;
    padding-left: 40px;
    font-size: em(12);
    line-height: 18px;
    max-width: 216px;
    font-weight: 400;
    color: $c-grey;
    height: 38px;
    outline: none;

    &:focus {
      border: 1px solid $c-light-green;
    }

    &::placeholder {
      color: $c-grey;
    }

    @include media("<=phone") {
      padding-left: 20px;
      max-width: 110px;
    }
  }

  &__table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: em(14);
    line-height: 21px;
    font-weight: 500;
    width: 100%;
    border: 0;

    @include media("<=tablet") {
      display: none;
    }
  }

  &__table-header {
    padding-bottom: 14px;
    position: relative;
    text-align: start;
    color: $c-grey;

    &:last-child {
      text-align: center;
    }
  }

  &__table-date {
    border-bottom: 1px solid $c-silver;
    padding-bottom: 24px;
    padding-top: 20px;
  }

  &__status {
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    max-width: 80px;
    display: flex;
    height: 29px;

    @include media("<=tablet") {
      padding: 0 10px;
    }
  }

  &__active {
    background-color: rgba($c-light-green, 30%);
    border: 1px solid $c-green;
    color: $c-green;
  }

  &__inactive {
    background-color: rgba($c-light-red, 30%);
    border: 1px solid $c-red;
    color: $c-red;
  }

  &__footer {
    justify-content: space-between;
    padding-top: 30px;
    display: flex;

    @include media("<=phone") {
      flex-direction: column;
    }
  }

  &__info {
    line-height: 21px;
    font-weight: 500;
    color: $c-grey;

    @include media("<=tablet") {
      font-size: em(10);
    }

    @include media("<=phone") {
      margin-bottom: 10px;
    }
  }

  &__pages {
    align-items: center;
    display: flex;
  }

  &__page {
    background-color: $c-silver;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 12px;
    color: $c-black;
    display: flex;
    height: 25px;
    width: 25px;

    @include media("<=tablet") {
      font-size: em(8);
      height: 15px;
      width: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background-color: $c-purple;
      color: $c-white;
    }

    &--transparent {
      background-color: transparent;
    }
  }

  &__cards {
    display: none;

    @include media("<=tablet") {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      display: grid;
    }

    @include media("<=tablet") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media("<=phone") {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    border-bottom: 1px solid $c-grey;
    padding-bottom: 10px;
    flex-direction: column;
    display: flex;

    @include media("<=tablet") {
      align-items: center;
    }

    span {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

thead {
  position: relative;

  &::before {
    content: "";
    background-color: $c-silver;
    position: absolute;
    height: 1px;
    right: -44px;
    left: -40px;
    bottom: 0;

    @include media("<=custom-1200") {
      right: -22px;
      left: -20px;
    }

    @include media("<=tablet") {
      right: -11px;
      left: -10px;
    }
  }
}
