extends ./extends/common.pug

block meta
	meta(name='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, provident!')
	meta(name='author' content='Bogdan Kravets')

block style
	link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
	link(rel="stylesheet" href="./css/index.css" )

block title 
	title Test Tasks

block content
	+sidebar 
	+main 
block js

